<ion-content [fullscreen]="true">
  <ion-icon routerLink="/registro5" class="atraslogin" name="arrow-back"></ion-icon>
  <div class="login-container">
    <div class="login-box">
      <div class="title">Las reglas son pocas, pero importan</div>
      <div class="subtitle">Lee, acepta y empieza a explorar</div>
      <div class="terminos-cuadro">
        <p>
          Al registrarte, aceptas los términos y condiciones de uso del servicio,
          el tratamiento de tus datos según nuestra política de privacidad,
          y confirmas que tienes al menos 18 años.
        </p>
        <p>
          Por favor, lee cuidadosamente antes de continuar.
        </p>
        <ion-item lines="none" class="terminos-check">
        <ion-checkbox slot="start" [(ngModel)]="aceptado"></ion-checkbox>
        <ion-label>Acepto los términos y condiciones</ion-label>
      </ion-item>
      </div>
      <ion-button [disabled]="!aceptado" routerLink="/home" expand="block" class="btncontinuar">Finalizar</ion-button>
    </div>
  </div>
</ion-content>
