<ion-content [fullscreen]="true">
  <ion-icon routerLink="/registro2" class="atraslogin" name="arrow-back"></ion-icon>
  <div class="login-container">
    <div class="login-box">
      <div class="title">Tu acceso al mundo del arte urbano</div>
      <div class="subtitle">Crea una contraseña segura</div>
      <div>Contraseña</div>
      <ion-item class="input-transparent">
        <ion-input fill="outline" type="text"></ion-input>
      </ion-item>
      <div >Confirmar Contraseña</div>
      <ion-item class="input-transparent">
        <ion-input fill="outline" type="text"></ion-input>
      </ion-item>
      <ion-button routerLink="/registro4" expand="block" class="btncontinuar">Siguiente</ion-button>
    </div>
  </div>
</ion-content>