<ion-content [fullscreen]="true">
  <ion-icon routerLink="/registro2" class="atraslogin" name="arrow-back"></ion-icon>
  <div class="login-container">
    <div class="login-box">
      <div class="title">Tu acceso al mundo del arte urbano</div>
      <div class="subtitle">Crea una contraseña segura</div>
      <form [formGroup]="form" (ngSubmit)="avanzar()">
      <div>Contraseña</div>
      <ion-item class="input-transparent">
        <ion-input formControlName="password" fill="outline" type="text"></ion-input>
      </ion-item>
      <div >Confirmar Contraseña</div>
      <ion-item class="input-transparent">
        <ion-input formControlName="confirmPassword" fill="outline" type="text"></ion-input>
      </ion-item>
      <p *ngIf="form.controls['confirmPassword'].touched && form.controls['confirmPassword'].dirty && form.errors?.['mismatch']" class="error">
      Las contraseñas no coinciden</p>

      <ion-button type="submit" expand="block" class="btncontinuar">Siguiente</ion-button>
      </form>

    </div>
  </div>
</ion-content>