<ion-content class="custom-background">

  <!-- Flecha de retroceso -->
  <ion-icon routerLink="/lacomercio" class="atraslogin" name="arrow-back"></ion-icon>

  <div class="contenido">
    <div class="titulo">Canasta</div>
    <!-- Botón agregar tarjeta -->
    <ion-button class="boton-agregar" routerLink="/formaspago">Agregar Tarjeta</ion-button>

    <!-- Lista de productos -->
    <div class="producto-card">
      <img src="assets/tienda/bolso.png" alt="Bolso Qhespy" class="producto-img" />
      <div class="producto-info">
        <h2 class="producto-titulo">BOLSO QHESPY</h2>
        <p class="producto-precio">Precio: 50</p>
      </div>
    </div>

    <div class="producto-card">
      <img src="assets/tienda/polera.png" alt="Polera Ale" class="producto-img" />
      <div class="producto-info">
        <h2 class="producto-titulo">POLERA ALE</h2>
        <p class="producto-precio">Precio: 50</p>
      </div>
    </div>
  </div>

</ion-content>
