<ion-content [fullscreen]="true">
<div *ngIf="cartaFavorita">
  <h2>Carta Favorita</h2>
  <div class="favorita-card">
    <img [src]="cartaFavorita.image" alt="Imagen de la carta favorita">
    <h3>{{ cartaFavorita.title }}</h3>
  </div>
</div>


<div *ngIf="cartas.length === 0">
<p>No hay cartas disponibles.</p>
</div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let carta of cartas">
        <div class="carta-container" (click)="abrirModal(carta)">
          <img [src]="carta?.image" alt="carta">

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>