<ion-content class="custom-background">
  <div class="content-container">
    <ion-icon routerLink="/registro" class="atraslogin" name="arrow-back"></ion-icon>

    <!-- Avatar e información -->
    <div class="profile-header" *ngIf="amigo">
      <ion-avatar class="avatar-border large-avatar">
        <img alt="" src="assets/amigoPerfil.png" />
      </ion-avatar>
      <ion-label class="username">{{amigo.name}}</ion-label>
      <ion-label class="level">NIVEL: {{amigo.level}}</ion-label>
      <ion-label class="points">{{amigo.points}}</ion-label>
    </div>

    <!-- Carta favorita -->
    <ion-card class="favorite-card" *ngIf="amigo?.cartaFavorita">
      <ion-card-header>
        <ion-card-title>Carta favorita</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="card-horizontal">
          <img alt="" [src]="amigo.cartaFavorita.image" class="card-img" />
          <div class="card-info">
            <p><strong>Artista: </strong>{{amigo.cartaFavorita.artist}}</p>
            <p><strong>Técnica: </strong>{{amigo.cartaFavorita.technique || ''}}</p>
            <p><strong>Rareza: </strong>{{amigo.cartaFavorita.type}}</p>
            <p><strong>Ubicación: </strong>{{amigo.cartaFavorita.address}}</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Actividad reciente -->
    <h4 class="section-title">Actividad</h4>
    <ion-card class="activity-card" >
      <ion-card-content class="compact-content">
        ¡Jugador ha encontrado un SHON!
        <small>2 días</small>
      </ion-card-content>
    </ion-card>

    <!-- Intercambio -->
    <h4 class="section-title">Intercambio disponible</h4>
    <ion-card class="trade-card" *ngIf="amigo?.trade">
      <ion-card-content class="compact-content">
        <img alt="" [src]="amigo?.trade?.image" class="card-img-trade" />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>