.custom-background {
  background-color: #1D1D20;
  color: #DDE55C;
}

.atraslogin {
  color: #DDE55C;
  font-size: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}

.profile-header {
  text-align: center;
  margin-top: 50px;
}

.avatar-border {
  border: 3px solid #DDE55C;
  border-radius: 50%;
  padding: 5px;
  background-color: #1D1D20;
}

.large-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.username {
  font-size: 1.2rem;
  font-weight: bold;
  color: #DDE55C;
  margin-top: 10px;
}

.level,
.points {
  color: #DDE55C;
  font-size: 0.9rem;
  display: block;
  margin-top: 4px;
}

.activity-card,
.trade-card {
  background-color: #AD74D6;
  color: white;
  border-radius: 12px;
  margin-top: 20px;
}

.favorite-card ion-card-title {
  color: #AD74D6;
}


.favorite-card{
    border-color: transparent;
    background-color: transparent;
    border-radius: 12px;
    margin-top: 20px;
}

.card-horizontal {
  display: flex;
  align-items: flex-start;
  gap: 12px; /* espacio entre imagen y texto */
}

.card-img {
  width: 70px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img-trade {
  width: 50px;
  display: block;

}

.textperfil{
    position: absolute;
    color: #DDE55C;
    font-size: 1.3rem;
    left: 60px;
}
.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 20px;
  margin-top: 20px;
}

.icon-button {
  background-color: #DDE55C;
  margin-top: 20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1D1D20;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
}

.icon-button ion-icon {
  font-size: 24px;
  margin-bottom: 4px;
}
.bottom-icon:nth-of-type(4) {
  grid-column: 1.5; 
}

.bottom-icon:nth-of-type(5) {
  grid-column: 2.5; 
}

.editar{
  background-color: aliceblue;
}
ion-input {
  color: #DDE55C;
}