<ion-content [fullscreen]="true">
  <ion-icon routerLink="/registro4" class="atraslogin" name="arrow-back"></ion-icon>
  <div class="login-container">
    <div class="login-box">
      <div class="title">¡Elige tu jeta! </div>
      <div class="subtitle">Elige tu avatar</div>
        <div class="fotos-grid">
          <img alt="" src="assets/fotoperfil.jpg" />
          <img alt="" src="assets/fotoperfil1.png" />
          <img alt="" src="assets/fotoperfil.jpg" />
          <img alt="" src="assets/fotoperfil1.png" />
          <img alt="" src="assets/fotoperfil.jpg" />
          <img alt="" src="assets/fotoperfil1.png" />
          <img alt="" src="assets/fotoperfil.jpg" />
          <img alt="" src="assets/fotoperfil1.png" />
          <img alt="" src="assets/fotoperfil.jpg" />
        </div>
      <ion-button routerLink="/registro6" expand="block" class="btncontinuar">Siguiente</ion-button>
    </div>
  </div>
</ion-content>
