<ion-content [fullscreen]="true" class="bg">
  <div class="container">
    <ion-icon name="arrow-back-outline" class="back-icon" routerLink="/ajustes"></ion-icon>
    <h1 class="titulo">Información</h1>

    <div class="info-item">
      Condiciones de servicio
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="linea"></div>

    <div class="info-item">
      Licencias
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="linea"></div>

    <div class="info-item">
      Políticas de privacidad
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="linea"></div>
  </div>
</ion-content>
