<ion-icon routerLink="/formasdepago" class="atraslogin" name="arrow-back"></ion-icon>
<ion-content class="ion-padding custom-background">
  <div class="add-card-container">
    <h2 class="titulo">Agregar tarjeta de crédito<br />o débito</h2>

    <ion-item class="custom-input">
      <ion-label position="stacked">Número de tarjeta</ion-label>
      <ion-input type="text" placeholder="XXXX XXXX XXXX XXXX"></ion-input>
    </ion-item>

    <ion-item class="custom-input">
      <ion-label position="stacked"> </ion-label>
      <ion-input type="text" placeholder="MM/AA"></ion-input>
    </ion-item>
  </div>
</ion-content>
