.mi-header {
  --background: #AD74D6; /* azul */
  color: white; /* texto */
}

ion-toolbar {
  --background: #AD74D6;
  color: white;
}

.imagenmenu {
  display: block;
}
.menucolor{
    --background: #AD74D6;
}

.imageneventos{
  top: 35%;
  left: 32%;
  position: absolute;
  width: 85px;
  height: auto;
}
.imagenbarrio{
  top: 11%;
  left: 47%;
  position: absolute;
  width: 85px;
  height: auto;

}
.imagencomercio{
  top: 46%;
  left: 65%;
  position: absolute;
  width: 85px;
  height: auto;
}
.imagenlupita{
  top: 62%;
  left: 29%;
  position: absolute;
  width: 85px;
  height: auto;
}
.imagencarita{
  top: 20%;
  left: 40%;
  position: absolute;
  width: 85px;
  height: auto;
}
