.mi-header {
  --background: #AD74D6;
  color: white;
}

ion-toolbar {
  --background: #AD74D6;
  color: white;
}

.menucolor {
  --background: #AD74D6;
  position: relative;
}

.menu-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.imagenmenu {
  width: 100%;
  height: auto;
  display: block;
}

/* Posiciones exactas, escalables */
.imageneventos {
  position: absolute;
  top: 37%;
  left: 31%;
  width: 20vw;
}

.imagenbarrio {
  position: absolute;
  top: 11%;
  left: 48%;
  width: 23vw;
}

.imagencomercio {
  position: absolute;
  top: 46%;
  left: 65%;
  width: 23vw;
}

.imagenlupita {
  position: absolute;
  top: 64%;
  left: 37%;
  width: 14vw;
}

.imagencarita {
  position: absolute;
  top: 28%;
  left: 54%;
  width: 12vw;
}
