<ion-app>
  <ion-menu side="start" menuId="m1" contentId="home">
    <ion-header class="mi-header">
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menucolor">

      <!-- Imagen de fondo -->
      <img src="assets/cards/menuanvorger/menuANvorgesa.png" class="imagenmenu" alt="fondo menú" />

      <!-- Imágenes con routerLink encima -->
      <div class="botones-menu">
        <a routerLink="/eventos">
          <img src="assets/cards/menuanvorger/eventosMenu.png" class="imageneventos" alt="eventos" />
        </a>
        <a routerLink="/home">
          <img src="assets/cards/menuanvorger/barrioGráfico.png" class="imagenbarrio" alt="barrio gráfico" />
        </a>
        <a routerLink="/lacomercio">
          <img src="assets/cards/menuanvorger/laComercio.png" class="imagencomercio" alt="la comercio" />
        </a>
        <a routerLink="/lupita">
          <img src="assets/cards/menuanvorger/lupita.png" class="imagenlupita" alt="lupita" />
        </a>
        <a routerLink="/profile">
          <img src="assets/cards/menuanvorger/perfilCarita.png" class="imagencarita" alt="perfil" />
        </a>
      </div>

    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Tap the button in the toolbar to open the menu.
    </ion-content>
  </div>

  <ion-router-outlet id="home"></ion-router-outlet>
</ion-app>
