.mi-header {
  --background: #AD74D6; /* azul */
  color: white; /* texto */
}

ion-toolbar {
  --background: #AD74D6;
  color: white;
}

.imagenmenu {
  display: block;
}
.menucolor{
    --background: #AD74D6;
}