.custom-background {
  --background: #1c1c1c;
  color: #f0f0f0;
  position: relative; /* Necesario para posicionar la flecha */
}

.titulo {
  color: #e6e632;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.linea-decorativa {
  height: 4px;
  background: linear-gradient(to right, #e6e632, #bb65ff);
  margin: 10px 0 20px;
  border-radius: 4px;
}

.buscador-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-searchbar {
  --background: #2e2e2e;
  --color: #fff;
  flex: 1;
}

.qr-icon {
  font-size: 24px;
  color: #e6e632;
}

.lista-amigos {
  margin-top: 10px;
}

.amigo-item {
  background: #2a2a2a;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.seleccionado {
  border: 2px solid #00ccff;
}

.nombre {
  font-weight: bold;
  color: #e6e632;
}

.id {
  color: #ccc;
}

.nav-inferior {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 340px;
  border-top: 2px solid #e6e632;
  padding-top: 10px;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 0.4em;
}

.nav-btn.activo {
  background: #e6e632;
  color: #000;
  border-radius: 50%;
  padding: 10px;
}

.atraslogin {
  color: #f9f06b;
  font-size: 24px;
  position: absolute; /* Posición fija respecto al ion-content */
  top: 15px;
  left: 15px;
  z-index: 10;
}

.contenido {
  margin-top: 40px; /* Eliminamos el margen superior aquí */ /* Espacio para la navegación inferior */
}