<ion-content class="cuenta-bg">

  <!-- Flecha de atrás -->
  <ion-icon name="arrow-back" class="back-icon" routerLink="/ajustes"></ion-icon>

  <!-- Título -->
  <h1 class="cuenta-title">Cuenta</h1>

  <!-- Cuentas vinculadas -->
  <p class="cuenta-subtitle">CUENTAS VINCULADAS</p>

  <div class="cuenta-item">
    <div>
      <p class="cuenta-label">Google</p>
      <p class="cuenta-email">example&#64;gmail.com</p>
    </div>
    <ion-icon name="checkmark-circle" class="check-icon"></ion-icon>
  </div>

  <div class="cuenta-item">
    <div>
      <p class="cuenta-label">Facebook</p>
      <p class="cuenta-email">example&#64;gmail.com</p>
    </div>
    <ion-icon name="checkmark-circle" class="check-icon"></ion-icon>
  </div>

  <!-- Otros -->
  <p class="cuenta-subtitle">OTROS</p>

  <div class="cuenta-item">
    <p class="cuenta-a">
      Deseo recibir mensajes de <br />
      eventos, ofertas y actualizaciones
    </p>
    <ion-toggle color="secondary"></ion-toggle>
  </div>

  <!-- Botón eliminar -->
  <div class="btn-container">
    <ion-button class="logout-btn">Eliminar</ion-button>
  </div>

</ion-content>
