<ion-content [fullscreen]="true" class="fondo">
  <div class="contenedor-principal">

    <!-- Flecha atrás (se queda arriba, fija) -->
    <ion-icon routerLink="/coleccion" class="atraslogin" name="arrow-back"></ion-icon>

    <!-- Contenedor del resto del contenido desplazado hacia abajo -->
    <div class="contenido">
      <ion-title class="titulo-microbless">MicroBless</ion-title>

      <img alt="Ilustración MicroBless" src="assets/cards/microBless.png" class="imagen-ilustracion" />

      <div class="puntos">
        <ion-badge class="badge-amarillo">500</ion-badge>
      </div>

      <div class="info">
        <div class="info-item">
          <ion-icon name="color-palette" class="icono"></ion-icon>
          <span>TÉCNICA: GRAFITTI</span>
        </div>
        <div class="info-item">
          <ion-icon name="calendar" class="icono"></ion-icon>
          <span>AÑO: 2015</span>
        </div>
        <div class="info-item">
          <ion-icon name="star" class="icono"></ion-icon>
          <span>TIPO: SHINY</span>
        </div>
        <div class="info-item">
          <ion-icon name="location" class="icono"></ion-icon>
          <span>UBICACIÓN: PLAZA AVAROA</span>
        </div>
      </div>
    </div>

  </div>
</ion-content>
