.fondo-negro {
  --background: #1b1b1f;
  color: white;
}

.titulo-header {
  color: #DDE55C;
  font-weight: bold;
  font-size: 20px;
}

.barra-progreso {
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, #9933ff, #ffff66);
  margin: 10px 0;
  border-radius: 10px;
}

.puntos {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 16px;
  color: #DDE55C;
}

.puntos ion-icon {
  margin-right: 8px;
}

.seccion {
  margin-top: 10px;
}

.seccion-titulo {
  font-size: 18px;
  font-weight: bold;
  color: #DDE55C;
  margin-bottom: 12px;
}

/* .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
} */

.item {
  background: #2c2c30;
  padding: 8px;
  border-radius: 10px;
  width: calc(33.333% - 8px); // para que entren 3 por fila con margen
  box-sizing: border-box;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.nombre {
  font-size: 12px;
  margin: 6px 0;
  color: white;
}

.precio {
  font-size: 14px;
  background: #3e3e44;
  border-radius: 8px;
  padding: 2px 8px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: white;
}

.titulo-la-comercio {
  color: #DDE55C;
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.canasta-icon {
  font-size: 24px;
  color: #DDE55C;
  margin-right: 10px;
}
 .row {
  width: calc(33.333% - 8px);
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  background-color: #9933ff;
  flex-direction: row;
} 
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background: #1b1b1f;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.modal-content p{
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}


