.custom-background {
  --background: #1D1D20;
  color: #fff;
  position: relative;
}

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

.titulo {
  color: #DDE55C;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.subtitulo {
  color: white;
  font-size: 14px;
  margin-bottom: 30px;
}

.payment-card {
  background-color: #DDE55C;
  width: 90%;
  border-radius: 12px;
  margin: 0 auto;
}

.payment-content {
  display: flex;
  align-items: center;
}

.payment-icon {
  width: 40px;
  height: auto;
  margin-right: 16px;
}

.payment-text {
  color: #1D1D20;
  font-weight: bold;
  font-size: 14px;
}
.atraslogin {
  color: #DDE55C;
  font-size: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}