<ion-icon routerLink="/canasta" class="atraslogin" name="arrow-back">
</ion-icon>

<ion-content class="ion-padding custom-background">
  <div class="payment-container">
    <h2 class="titulo">Formas de Pago</h2>
    <p class="subtitulo">Añade una forma de pago a tu cuenta</p>

    <ion-card class="payment-card"  routerLink="/tarjetas" button >
      <ion-card-content class="payment-content">
        <img alt="" src="assets/tarjetitauvu.png" class="payment-icon" />
        <span class="payment-text">Añadir tarjeta de crédito o débito</span>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>