.custom-background {
  --background: #1D1D20;
  color: #fff;
  position: relative;
}

.titulo {
  color: #DDE55C;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.linea-decorativa {
  height: 4px;
  background: linear-gradient(to right, #DDE55C, #AD74D6);
  margin: 10px 0 20px;
  border-radius: 4px;
}

.buscador-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-searchbar {
  --background: #2B2B2C;
  --color: #fff;
  flex: 1;
}

.qr-icon {
  font-size: 24px;
  color: #DDE55C;
}

.lista-amigos {
  margin-top: 10px;
}

.amigo-item {
  background: #2B2B2C;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.seleccionado {
  border: 2px solid #00ccff;
}

.nombre {
  font-weight: bold;
  color: #DDE55C;
}

.id {
  color: #ccc;
}

.nav-inferior {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 415px;
  border-top: 2px solid #DDE55C;
  padding-top: 10px;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 0.4em;
}

.nav-btn.activo {
  background: #DDE55C;
  color: #2B2B2C;
  border-radius: 50%;
  padding: 10px;
}
.atraslogin {
  color: #DDE55C;
  font-size: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}
ion-button.cancelar {
  --background: #AD74D6;
  --color: #1d1d1d !important;
}