

<ion-content class="ion-padding custom-background">
  <ion-icon routerLink="/profile" class="atraslogin" name="arrow-back"></ion-icon>
  <ion-title class="titulo">Enviadas</ion-title>
  <div class="linea-decorativa"></div>

  <!-- Buscador y QR 
  <div class="buscador-container">
    <ion-searchbar placeholder="Buscar" class="custom-searchbar"></ion-searchbar>
    <ion-icon name="qr-code-outline" class="qr-icon"></ion-icon>
  </div>-->

  <!-- Lista de amigos -->
  <ion-list class="lista-amigos">
    <ion-list>
      <ion-item class="amigo-item" *ngFor="let solicitud of solicitudes">
      <ion-avatar slot="start">
        <img alt="" [src]="solicitud.avatar || 'assets/fotodefault.png'" />
      </ion-avatar>
      <ion-label>
        <h2 class="nombre">{{solicitud.name}}</h2>
        <p class="id">Respuesta {{solicitud.estado}}</p>
      </ion-label>
      <ion-button class="cancelar" slot="end" (click)="cancelarSolicitud(solicitud.id)">Cancelar</ion-button>
    </ion-item>
    </ion-list>
    <div *ngIf="solicitudes.length === 0">
    <p>No has enviado ninguna solicitud.</p>
  </div>

  </ion-list>

  <!-- Navegación inferior -->
  <div class="nav-inferior">
    <ion-button fill="clear" class="nav-btn" routerLink="/amigos" button>
      <ion-icon name="people" slot="icon-only"></ion-icon>
      <p>AMIGOS</p>
    </ion-button>
    <ion-button fill="clear" class="nav-btn activo" routerLink="/enviadas" button>
      <ion-icon name="swap-horizontal" slot="icon-only"></ion-icon>
      <p>ENVIADAS</p>
    </ion-button>
    <ion-button fill="clear" class="nav-btn" routerLink="/recibidas" button>
      <ion-icon name="book" slot="icon-only"></ion-icon>
      <p>RECIBIDAS</p>
    </ion-button>
  </div>
</ion-content>
