<ion-content class="custom-background">
  <!-- Botón de menú hamburguesa -->
  <ion-menu-button class="menu-hamburguesa" autoHide="false" menu="m1"></ion-menu-button>

  <!-- Contenido principal -->
  <div class="contenido">
    <div class="titulo">EVENTOS</div>
    <div class="linea-decorativa"></div>

    <!-- Lista de eventos -->
    <div *ngFor="let evento of eventos" class="evento-card">
      <img src="{{evento.image}}" alt="Evento" class="evento-img" />
      <div class="evento-info">
        <h2 class="evento-titulo">{{evento.name}}</h2>
        <p class="evento-descripcion">{{evento.description}}</p>
        <p class="evento-tiempo">
          Tiempo restante: {{evento.date}}
          <ion-icon name="time-outline"></ion-icon>
        </p>
      </div>
    </div>
    


